[Unit]
Description=Enhance Log Archiver
After=network.target

[Service]
ExecStart=/usr/local/sbin/enhance-plus/enhance-log-capture/enhance-log-capture.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target