[Unit]
Description=Enhance Log Archiver
After=network.target

[Service]
EnvironmentFile=-/etc/default/enhance-log-capture
ExecStart=SERVICE_SCRIPT_PATH_PLACEHOLDER/enhance-log-capture-inotify.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target